apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 261243772911.dkr.ecr.ap-northeast-2.amazonaws.com/sgi-edu-member-service
  newName: 261243772911.dkr.ecr.ap-northeast-2.amazonaws.com/sgi-edu-member-service
  newTag: 27f5ee92
resources:
- ../../base
patchesStrategicMerge:
- member-deployment-patch.yaml
- member-service-patch.yaml
